@CHARSET "UTF-8";

ul {
	list-style: none;
}

#container {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}

.side-menu {
	-webkit-flex: 1;
	flex: 1;
}

@media screen and (max-width: 640px) {
	.side-menu {
		display: none;
	}
}

.mangas {
	border-style: solid;
	border-color: black;
	height: 1000px;
	-webkit-flex: 3;
	flex: 3;
}

