{% extends "layout.twig" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/styles/homepage.css" media="screen"/>
{% endblock %}

{% block content %}
    <div>
        <h1>Bienvenue sur Manga no jikan!!</h1>
        <p>Ce site est déstiné aux personnes qui aiment les mangas.</p>
        <p>Pour enregistrer</p>
        <a href=""></a>
        <p>Pour enregistrer</p>
        <a></a>
    </div>
{% endblock %}
