{% extends "layout.twig" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/styles/user.css" media="screen"/>
{% endblock %}

{% block content %}
    <div class="user">
        <form method="post">
            <label for="id">Identifiant</label><br/>
            <input type="text" id="id" name="id"/><br/>
            <label for="password">Mot de passe</label><br/>
            <input type="password" id="password" name="password"/><br/>
            <input type="button" class="login_button" value="se connecter"/>
        </form>
    </div>
{% endblock %}