{% extends "layout.twig" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/styles/reader.css" media="screen"/>
{% endblock %}

{% block customMenu %}
    <div class="container">
        <div class="fullscreenBtn icon"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
        <div class="book"><a href={{ path_for('manga' ,{ 'name': manga.name}) }}><i class="fa fa-reply" aria-hidden="true"></i></a></div>
    </div>
{% endblock %}

{% block content %}
    <div class="container noselect">
        <div class="icon_left icon"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></div>
        <div class="current-page">
            <img src="" alt="current page"/>
        </div>
        <div class="icon_right icon"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
    </div>
    <div class="page_number"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src='/vendor/jquery/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='/scripts/reader.js'></script>
{% endblock %}