{% extends "layout.twig" %}

{% block content %}
    <div class="container">
    <i class="fa fa-arrow-circle-left" aria-hidden="true" style="font-size: 5rem"></i>
    <div class="current-page">
        <img src="" alt="current page"/>
    </div>
    <i class="fa fa-arrow-circle-right" aria-hidden="true" style="font-size: 5rem"></i>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src='/vendor/jquery/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='/scripts/reader.js'></script>
{% endblock %}