{% extends "layout.twig" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/styles/user.css" media="screen"/>
{% endblock %}

{% block content %}
    <div class="user">
        <form action="UserDB.php" method="post">
            <label for="id">Utilisateur</label><br/>
            <input type="text" id="user_name" name="user_name"/><br/>
            <label for="password">Mot de passe</label><br/>
            <input type="password" id="password" name="password"/><br/>
            <label for="password">Mot de passe (confirmer)</label><br/>
            <input type="password" id="password2" name="password2"/><br/>
            <input type="button" class="login_button" value="s'inscrire"/>
        </form>
    </div>
{% endblock %}