{% extends "layout.twig" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/styles/common.css" media="screen"/>
{% endblock %}

{% block content %}
    <div>
        {{ msg }}
    </div>
{% endblock %}