{% extends "layout.twig" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/styles/setting.css" media="screen"/>
{% endblock %}

{% block content %}
    <div class="setting">
        <ul>
            {% if not library %}
                <li>Création de la bibliothèque</li>
                <li>Inserez le nom de dossier
                    <form action="{{ path_for('setting') }}" method="post">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                        <input type="text" id="directory" name="directory"/>
                        <button>Valider</button>
                    </form>
                </li>
            {% endif %}
            {% if library %}
                <a href="{{ path_for('scan') }}" class="link">
                    <li>Rafraichir votre bibliothèque
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </li>
                </a>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src='/vendor/jquery/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='/scripts/setting.js'></script>
{% endblock %}