{% extends "layout.twig" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/styles/setting.css" media="screen"/>
{% endblock %}

{% block content %}
    <div class="setting">
        <ul>
            {% if not mangas %}
                <li>Créer la bibliothèque
                    <a href="{{ path_for('scan') }}"> <i class="fa fa-plus-square" aria-hidden="true"></i></a>
                </li>
                <li>Inserez le nom de dossier
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                    <form action="{{ path_for('setting') }}" method="post">
                        <input type="text" id="directory" name="directory"/>
                        <button>Valider</button>
                    </form>
                </li>
            {% endif %}
            <li>Rafraichir la bibliothèque
                <a href="{{ path_for('scan') }}"><i class="fa fa-refresh" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src='/vendor/jquery/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src='/scripts/setting.js'></script>
{% endblock %}