{% extends "layout.twig" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/styles/setting.css" media="screen"/>
{% endblock %}

{% block content %}
<div id="setting">
    <ul>
        <li>Ajoutez un bibliithèque
            <i class="fa fa-plus-square" aria-hidden="true"></i>
        </li>
        <li>Rafraichir le bibliithèque
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </li>
    </ul>
</div>
{% endblock %}