.profile-box p {
    font-weight: bold;
    font-size: 16pt;
}

.profile-box {
    display: table;
    margin: 0 auto;
    padding: 2rem;
}

.setting i {
    display: inline-block;
}

.logout {
    padding: 1px 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    display: -webkit-flex;
    display: flex;
    background-color: #ff99bb;
    color: white;
    width: 5.7rem;
    text-decoration: none;
}

.menu .user-icon i {
    color: midnightblue;
}