.container {
    display: flex;
    align-items: center;
}

nav .menu .user-icon i, .book .fa-book, .noselect .icon{
    color: midnightblue;
}

nav .menu .user-icon .fa-user-plus {
    display: none;
}

nav i.fa {
    padding-right: 1rem;
}

.icon {
    height: 85vh;
    flex: 1;
    text-align: center;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 768px) {

    .icon {
        display: none;
    }

    .current-page {
        overflow: scroll;
        direction: rtl;
    }
}

.container:-webkit-full-screen {
    background-color: black;
}
.container:-moz-full-screen {
    background-color: black;
}
.container:-ms-fullscreen {
    background-color: black;
}
.container:fullscreen {
    background-color: black;
}

.container:-webkit-full-screen i{
    color: white;
}
.container:-moz-full-screen i {
    color: white;
}
.container:-ms-fullscreen i {
    color: white;
}
.container:fullscreen i {
    color: white;
}

.container:-webkit-full-screen .icon{
    min-width: 15rem;
}
.container:-moz-full-screen .icon {
    min-width: 15rem;
}
.container:-ms-fullscreen .icon {
    min-width: 15rem;
}
.container:fullscreen .icon {
    min-width: 15rem;
}

.fa-arrow-circle-right {
    vertical-align: middle;
}

.current-page {
    flex: 1;
}

.current-page img {
    height: 85vh;
}
