.container {
    display: flex;
    align-items: center;
}

i {
    color: midnightblue;
}

.fa-arrow-circle-left {
    flex: 1;
    text-align: center;
}

.fa-arrow-circle-right {
    flex: 1;
    text-align: center;
}

.current-page {
    flex: 1;
}

.current-page img {
    height: 93vh;
}