.user {
    padding: 2rem;
}

.user input {
    display: -webkit-flex;
    display: flex;
    padding: 1px 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
}

.login_button {
    background-color: #ff99bb;
    color: white;
}